<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinfotech.marugaamkadu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kaduicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.vinfotech.marugaamkadu.AboutUs" android:label="About Us"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity"/>

        <activity android:name="com.vinfotech.marugaamkadu.ContactUs" android:label="Contact Us"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity" />
        <activity android:exported="true" android:name="com.vinfotech.marugaamkadu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vinfotech.marugaamkadu.Temple"
            android:label="Temple"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity" />
        <activity
            android:name="com.vinfotech.marugaamkadu.Anganwadi"
            android:label="Anganwadi"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity" />
        <activity
            android:name="com.vinfotech.marugaamkadu.PrimarySchool"
            android:label="Primary School"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity" />
        <activity
            android:name="com.vinfotech.marugaamkadu.GramPanchayat"
            android:label="Gram Panchayat"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity" />
        <activity
            android:name="com.vinfotech.marugaamkadu.FbPage"
            android:label="Facebook Page"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity" />
        <activity
            android:name="com.vinfotech.marugaamkadu.BlogNewsFeed"
            android:label="Blog Feed"
            android:parentActivityName="com.vinfotech.marugaamkadu.MainActivity" />
    </application>


</manifest>